body {
  text-align: center;
}

button {
  background-color: #fff;
  border-radius: 12px 0px;
  border: solid 2px #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  transform: skew(-20deg);
  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}
button:hover {
  background-color: #000;
  color: #fff;
}
button:active {
  background-color: #ff4197;
  transition: background-color ease 0s;
}

.btn-text {
  transform: skew(20deg);
}
