body {
  text-align: center;
  background-color: #2a2a2e;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 400;
}

p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

button {
  background-color: #2a2a2e;
  border-radius: 12px 0px;
  border: solid 2px #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 50px;
  transform: skew(-20deg);
  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}
button:hover {
  background-color: #000;
  color: #fff;
}
button:active {
  background-color: #ff4197;
  transition: background-color ease 0s;
}

.btn-text {
  transform: skew(20deg);
}
